name: recsys_env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pandas
  - numpy
  - matplotlib
  - seaborn
  - scipy
  - scikit-learn
  - ipywidgets
  - ipykernel
  - pip
  - pip:
    - sentence-transformers
    - wordcloud